body {
  margin: 0;    /* necessary to center div using flex without adding scroll */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(127, 214, 214);
  font-family: sans-serif;
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
}

.option-input {
  font-size: 1.5rem;
  width: 50px;
}

#update-display {
  font-size: 1.5rem;
}

body > * {
  margin: 10px;
}

#sketch-display {
  display: grid;
  border: 25px solid gray;
  border-radius: 10px;
}

.pencil:hover {
  cursor: url("img/pencil.cur"), auto !important;
}

.eraser:hover {
  cursor: url("img/eraser.cur"), auto !important;
}

.display-square {
  /* border: 1px dotted gray; */
  background-color: white;
}

#display-options > * {
  display: inline-block;
  margin: 5px
}

#drawing-options > * {
  display: inline-block;
  margin: 5px
}

#clear {
  width: 100px;
  height: 50px;
  font-size: 1.5rem;
}